<mat-card>
  <mat-card-header>
    <mat-card-title>Joe Bickford</mat-card-title>
  </mat-card-header>
  <img src="../../../assets/profilePic.jpg" width="150" alt="" />

  <mat-card-content>
    <mat-divider></mat-divider>
    <p>
      My name is Joseph, I am a full time student at Sonoma State University and
      I enjoy web developement as a hobby. This project was something I put
      together using angular and firebase.
    </p>
  </mat-card-content>
</mat-card>
<div class="known-issues">
  <header>
    <h1>Known Issues</h1>
  </header>
  <h3>
    1.
    <p>
      There is an issue currently where if you refresh the page the site will
      tell you to log in even if you are already logged in. If this happens just
      re-click on the page you were trying to load and it will work. Ill fix it
      soon!
    </p>
  </h3>
  <h3>
    2.
    <p>Everything looks like shit!</p>
  </h3>
</div>
